# Linux build files
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/config.h
/install_manifest.txt
/radiant/darkradiant
/install/darkradiant.desktop
/test/drtest
*.o
*.lo
*.so
*.a
*.la
.deps

# Linux profiling
perf.data*

# Editor temporary files
*.swp
tags

# Windows directories
w32deps
w64deps
build

# Windows build files
*.dll
*.pdb
install/*.exe
tools/msvc/*.exe
/tools/innosetup/*.exe
*.exp
*.lib

# Image Source Files
*.psd

# Windows Visual Studio stuff
*.user
DarkRadiant.opensdf
DarkRadiant.sdf
gtkrc
testsuite.ilk

# VS Code
.vscode

# VS
/winbuild
*.psess
*.suo
*.ipch
*.dirstamp
/tools/innosetup/*.7z
*.vspx
*.bak
*.opendb
*.iobj
*.ipdb

# Mac OS X Stuff
.DS_Store
xcuserdata

Makefile.in
/config.h.in
/configure
/ltmain.sh
/aclocal.m4
/install/*.zip
/tools/msvc/.vs
/tools/msvc/DarkRadiant.VC.db
/tools/innosetup/*.zip
/tools/lwo_analyse/.vs
/radiant/*.aps

# Portable installation temp folders
/tools/scripts/DarkRadiant_install.x64
/tools/scripts/DarkRadiant_install
/install/*.ilk
/tools/msvc/Tests/x64
/tools/msvc/x64
/tools/msvc/packages
/install/*.testdurations
*.ilk
.vs/
windeps*.7z
/packages
/windeps
