# Linux build files
*.o
*.lo
*.la
Makefile
.libs
.deps

# Editor temporary files
*.swp

# Windows directories
w32deps
w64deps
build

# Windows build files
*.dll
*.pdb
*.exe
*.exp
*.lib

# Windows Visual Studio stuff
*.user
DarkRadiant.opensdf
DarkRadiant.sdf
gtkrc
testsuite.ilk

# VS 2012
/winbuild
/tools\msvc2012/ipch
/tools\msvc2012/Debug
*.psess
*.suo
/tools\msvc2010/ipch
/tools\msvc2012/ipch
*.ipch
*.dirstamp
/tools/innosetup/*.7z
*.vspx
*.bak
