//
//  DarkRadiant.xcconfig
//  DarkRadiant
//
//  Created by greebo on 11/02/17.
//
//
#include "base.xcconfig"
#include "wxwidgets.xcconfig"
#include "ftgl.xcconfig"

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(DR_BASE_CPLUSPLUSFLAGS) $(WXWIDGETS_OTHER_CPLUSPLUSFLAGS)
HEADER_SEARCH_PATHS = $(WXWIDGETS_HEADER_SEARCH_PATHS) $(DR_BASE_HEADER_SEARCH_PATHS) $(FTGL_HEADER_SEARCH_PATHS) "$(SRCROOT)/../../radiant"

LIBRARY_SEARCH_PATHS = $(WXWIDGETS_LIBRARY_SEARCH_PATHS) $(SIGCPP_LIBRARY_SEARCH_PATHS) $(FTGL_LIBRARY_SEARCH_PATHS)
OTHER_LDFLAGS = $(WXWIDGETS_LINKFLAGS) $(SIGCPP_LINKFLAGS) $(FTGL_LINKFLAGS)

FRAMEWORK_SEARCH_PATHS = "/System/Library/Frameworks"
