//
//  script.xcconfig
//  DarkRadiant
//
//  Created by greebo on 2/12/17.
//
//
#include "base.xcconfig"
#include "boost_python.xcconfig"

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(DR_BASE_CPLUSPLUSFLAGS) $(BOOST_PYTHON_CPLUSPLUSFLAGS)
HEADER_SEARCH_PATHS = $(DR_BASE_HEADER_SEARCH_PATHS) $(BOOST_PYTHON_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(DR_BASE_LIBRARY_SEARCH_PATHS) $(BOOST_PYTHON_LIBRARY_SEARCH_PATHS)
OTHER_LDFLAGS = $(DR_BASE_LINKFLAGS) $(BOOST_PYTHON_LINKFLAGS)

FRAMEWORK_SEARCH_PATHS = "/System/Library/Frameworks"