//
//  sound.xcconfig
//  DarkRadiant
//
//  Created by greebo on 2/12/17.
//
//
#include "base.xcconfig"

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(DR_BASE_CPLUSPLUSFLAGS)
HEADER_SEARCH_PATHS = $(DR_BASE_HEADER_SEARCH_PATHS) "/opt/local/include"
LIBRARY_SEARCH_PATHS = $(DR_BASE_LIBRARY_SEARCH_PATHS) "/opt/local/libs"
OTHER_LDFLAGS = $(DR_BASE_LINKFLAGS) "-lvorbisfile"

FRAMEWORK_SEARCH_PATHS = "/System/Library/Frameworks"