//
//  wxwidgets.xcconfig
//  DarkRadiant
//
//  Created by greebo on 11/02/17.
//
//
WXWIDGETS_OTHER_CPLUSPLUSFLAGS = -D_FILE_OFFSET_BITS=64 -DWXUSINGDLL -D__WXMAC__ -D__WXOSX__ -D__WXOSX_COCOA__ -DWXINTL_NO_GETTEXT_MACRO

WXWIDGETS_HEADER_SEARCH_PATHS = "/opt/local/include" "/opt/local/Library/Frameworks/wxWidgets.framework/Versions/wxWidgets/3.0/lib/wx/include/osx_cocoa-unicode-3.0" "/opt/local/Library/Frameworks/wxWidgets.framework/Versions/wxWidgets/3.0/include/wx-3.0"

WXWIDGETS_LIBRARY_SEARCH_PATHS = "/opt/local/Library/Frameworks/wxWidgets.framework/Versions/wxWidgets/3.0/lib"

WXWIDGETS_LINKFLAGS = "-lwx_osx_cocoau_xrc-3.0" "-lwx_osx_cocoau_webview-3.0" "-lwx_osx_cocoau_html-3.0" "-lwx_osx_cocoau_qa-3.0" "-lwx_osx_cocoau_adv-3.0" "-lwx_osx_cocoau_core-3.0" "-lwx_baseu_xml-3.0" "-lwx_baseu_net-3.0" "-lwx_baseu-3.0"

