//
//  xmlregistry.xcconfig
//  DarkRadiant
//
//  Created by greebo on 12.02.17.
//
//
#include "base.xcconfig"
#include "wxwidgets.xcconfig"

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $(DR_BASE_CPLUSPLUSFLAGS) $(WXWIDGETS_OTHER_CPLUSPLUSFLAGS)
HEADER_SEARCH_PATHS = $(DR_BASE_HEADER_SEARCH_PATHS) $(WXWIDGETS_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(DR_BASE_LIBRARY_SEARCH_PATHS) $(WXWIDGETS_LIBRARY_SEARCH_PATHS)
OTHER_LDFLAGS = $(DR_BASE_LINKFLAGS) $(WXWIDGETS_LINKFLAGS)

FRAMEWORK_SEARCH_PATHS = "/System/Library/Frameworks"
