Source: darkradiant
Section: games
Priority: extra
Maintainer: orbweaver <orbweaver3d@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libgtk2.0-dev, libgtkglext1-dev, libxml2-dev, libglew-dev, libboost-regex-dev, libboost-filesystem-dev, libboost-serialization-dev
Standards-Version: 3.7.2

Package: darkradiant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
