Source: darkradiant
Section: games
Priority: extra
Maintainer: orbweaver <orbweaver3d@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libgtk2.0-dev, libgtkglext1-dev, libxml2-dev, libglew-dev, libboost-regex-dev, libboost-filesystem-dev, libboost-serialization-dev, libboost-python-dev, python-dev, libvorbis-dev, libopenal-dev, libalut-dev, libjpeg-dev
Standards-Version: 3.7.2

Package: darkradiant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Level editor for Doom 3 and The Dark Mod
 DarkRadiant is a 3D level editor for Doom 3 and The Dark Mod, based on the GPL
 release of GtkRadiant.

Package: darkradiant-plugins-darkmod
Architecture: any
Depends: darkradiant, ${shlibs:Depends}, ${misc:Depends}
Description: DarkMod-specific plugins for DarkRadiant
 These plugins are used for editing Dark Mod missions.
