Source: darkradiant
Section: games
Priority: optional
Maintainer: OrbWeaver <orbweaver3d@gmail.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: darkradiant
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Level editor for Doom 3 and the Dark Mod
 Darkradiant is an Open-Source game level editor for Doom 3 and the Dark Mod,
 based on the GtkRadiant editor released by iD software.
