<?xml version="1.0"?>
<menu name="main">
	<subMenu name="file" caption="&amp;File">
		<menuItem name="new" caption="&amp;New Map" command="NewMap" />
		<menuSeparator />
		<menuItem name="open" caption="&amp;Open..." command="OpenMap" icon="file_open.png" />
		<menuItem name="openMapFromProject" caption="&amp;Open Map from Project..." command="OpenMapFromProject" />
		<menuItem name="import" caption="&amp;Import Map..." command="ImportMap" />
		<menuItem name="mergeMap" caption="&amp;Merge Map..." command="ToggleMapMergePanel" />
		<menuItem name="loadprefab" caption="Import &amp;Prefab..." command="LoadPrefab" />
		<menuSeparator />
		<menuItem name="save" caption="&amp;Save" command="SaveMap" icon="file_save.png" />
		<menuItem name="saveas" caption="Save &amp;as..." command="SaveMapAs" />
		<menuItem name="saveCopyAs" caption="Save &amp;copy as..." command="SaveMapCopyAs" />
		<menuSeparator />
		<menuItem name="exportMap" caption="Export Map..." command="ExportMap" />
		<menuItem name="saveSelected" caption="Export selected as Map..." command="SaveSelected" />
		<menuItem name="saveSelectedPrefab" caption="&amp;Export selected as Prefab..." command="SaveSelectedAsPrefab" />
		<menuItem name="exportSelectedAsModel" caption="Export selected as Model..." command="ExportSelectedAsModelDialog" />
		<menuItem name="createCM" caption="Export selected as Collision Model..." command="ExportCollisionModelDialog" />
		<menuItem name="saveRegion" caption="Export &amp;Region..." command="SaveRegion" />
		<menuSeparator />
		<menuItem name="ConvertModel" caption="Import/Convert Model..." command="ConvertModelDialog" />
		<menuSeparator />
		<menuItem name="reloadDecls" caption="Reload Declarations" command="ReloadDecls" icon="decl.png" />
		<menuItem name="reloadImages" caption="Reload Images" command="ReloadImages" icon="icon_texture.png" />
		<menuItem name="refreshModels" caption="&amp;Reload Models" command="RefreshModels" icon="model16green.png" />
		<menuItem name="refreshSelectedModels" caption="Reload Selected Models" command="RefreshSelectedModels" icon="model16green.png" />
		<menuSeparator />
		<menuItem name="gameSelector" caption="&amp;Game/Project Setup..." command="ProjectSettings" />
		<menuSeparator />
		<menuItem name="pointfile" caption="&amp;Pointfile" command="ChooseAndTogglePointfile" icon="pointfile16.png"/>
		<menuSeparator />
		<!-- MRU is inserted automatically at this position -->
		<menuItem name="exit" caption="E&amp;xit" command="Exit" />
	</subMenu>

	<subMenu name="edit" caption="&amp;Edit">
		<menuItem name="undo" caption="&amp;Undo" command="Undo" />
		<menuItem name="redo" caption="&amp;Redo" command="Redo" />
		<menuSeparator />
		<menuItem name="copy" caption="&amp;Copy" command="Copy" />
		<menuItem name="paste" caption="&amp;Paste" command="Paste" />
		<menuItem name="pasteToCamera" caption="Paste to Camera" command="PasteToCamera" />
		<menuSeparator />
		<menuItem name="duplicate" caption="&amp;Duplicate" command="CloneSelection" />
		<menuItem name="delete" caption="D&amp;elete" command="DeleteSelection" />
		<menuSeparator />
		<menuItem name="groupSelected" caption="Group Selection" command="GroupSelected" icon="group_selection.png" />
		<menuItem name="ungroupSelected" caption="Ungroup Selection" command="UngroupSelected" icon="ungroup_selection.png" />
		<menuSeparator />
		<menuItem name="parent" caption="Rep&amp;arent Primitives" command="ParentSelection" />
		<menuItem name="parenttoworldspawn" caption="Reparent Primitives to &amp;Worldspawn" command="ParentSelectionToWorldspawn" />
		<menuItem name="mergeentities" caption="Merge selected Entities" command="MergeSelectedEntities" icon="cmenu_merge_entities.png" />
		<menuSeparator />
		<menuItem name="copyShader" caption="Copy Shader" command="CopyShader" />
		<menuItem name="pasteShader" caption="Paste Shader" command="PasteShader" />
		<menuItem name="pasteShaderNatural" caption="Paste Shader (Natural)" command="PasteShaderNatural" />
		<menuSeparator />
		<menuItem name="clearSelection" caption="C&amp;lear selection" command="UnSelectSelection" />
		<menuItem name="invertSelection" caption="&amp;Invert selection" command="InvertSelection" />
		<menuItem name="selectCompleteTall" caption="Select complete t&amp;all" command="SelectCompleteTall" icon="selection_selectcompletetall.png" />
		<menuItem name="selectInside" caption="Select i&amp;nside" command="SelectInside" icon="selection_selectinside.png" />
		<menuItem name="selectFullyInside" caption="Select fully inside" command="SelectFullyInside" icon="selection_selectinside.png" />
		<menuItem name="selectTouching" caption="Select &amp;touching" command="SelectTouching" icon="selection_selecttouching.png" />
		<menuItem name="selectionChildren" caption="Select Children" command="SelectChildren" />
		<menuItem name="selectionParentEntity" caption="Select Parent Entities" command="SelectParentEntities" />
		<menuItem name="selectionSiblings" caption="Expand selection to all Siblings" command="ExpandSelectionToSiblings" />
		<menuItem name="selectalloftype" caption="Select all of type" command="SelectAllOfType" />
		<menuSeparator />
		<menuItem name="shortcuts" caption="Keyboard Shortcuts..." command="ShowCommandList" />
    <menuItem name="mousetoolbindings" caption="Mouse Bindings..." command="MouseToolMappingDialog" />
		<menuItem name="preferences" caption="Pre&amp;ferences..." command="Preferences" />
	</subMenu>

	<subMenu name="view" caption="V&amp;iew">
		<menuItem name="newxyview" caption="New XY view" command="NewOrthoView" />
		<menuItem name="newcamview" caption="New Camera view" command="NewCameraView" />
    <menuSeparator name="controlSeparatorBottom" />
		<subMenu name="camera" caption="Camera">
			<menuItem name="cameraCenter" caption="&amp;Center" command="CenterView" />
			<menuItem name="cameraUpFloor" caption="&amp;Up Floor" command="UpFloor" />
			<menuItem name="cameraDownFloor" caption="&amp;Down Floor" command="DownFloor" />
			<menuSeparator />
			<menuItem name="cameraPlaneIn" caption="Far Clip Plane In" command="CubicClipZoomIn" />
			<menuItem name="cameraPlaneOut" caption="Far Clip Plane Out" command="CubicClipZoomOut" />
			<menuSeparator />
			<menuItem name="cameraNextLeak" caption="Next leak spot" command="NextLeakSpot" />
			<menuItem name="cameraPreviousLeak" caption="Previous leak spot" command="PrevLeakSpot" />
		</subMenu>

		<subMenu name="orthographic" caption="Orthographic">
			<menuItem name="nextOrtho" caption="Next (XY, XZ, YZ)" command="NextView" />
			<menuItem name="OrthoXY" caption="XY (Top)" command="ViewTop" />
			<menuItem name="OrthoYZ" caption="YZ" command="ViewSide" />
			<menuItem name="OrthoXZ" caption="XZ" command="ViewFront" />
			<menuSeparator />
			<menuItem name="XY100%" caption="&amp;XY 100%" command="Zoom100" />
			<menuItem name="XYzoomIn" caption="&amp;XY Zoom In" command="ZoomIn" />
			<menuItem name="XYzoomOut" caption="&amp;XY Zoom Out" command="ZoomOut" />
		</subMenu>

		<menuSeparator />

		<subMenu name="show" caption="Show">
			<menuItem name="showAngles" caption="Show &amp;Angles" command="ShowAngles" />
			<menuItem name="showNames" caption="Show &amp;Names" command="ShowNames" />
			<menuItem name="showBlocks" caption="Show Blocks" command="ShowBlocks" />
			<menuItem name="showCoordinates" caption="Show C&amp;oordinates" command="ShowCoordinates" />
			<menuItem name="showOutline" caption="Show Window Outline" command="ShowWindowOutline" />
			<menuItem name="showAxes" caption="Show Axes" command="ShowAxes" />
			<menuItem name="showWorkzone" caption="Show Workzone" command="ShowWorkzone" />
			<menuItem name="showSizeinfo" caption="Show size info" command="ToggleShowSizeInfo" />
		</subMenu>

		<menuSeparator />

		<subMenu name="hideShow" caption="Hide/Show">
			<menuItem name="hideSelected" caption="Hide Selected" command="HideSelected" />
			<menuItem name="hideDeSelected" caption="Hide Deselected" command="HideDeselected" />
			<menuItem name="showHidden" caption="Show hidden" command="ShowHidden" />
		</subMenu>

		<subMenu name="region" caption="Region">
			<menuItem name="regionSwitchoff" caption="&amp;Switch off" command="RegionOff" />
			<menuItem name="regionSetXY" caption="Set from &amp;XY view" command="RegionSetXY" />
			<menuItem name="regionSetBrush" caption="Set from &amp;Brush" command="RegionSetBrush" />
			<menuItem name="regionSetSelection" caption="Set from Se&amp;lection" command="RegionSetSelection" />
		</subMenu>

		<menuSeparator />
		<menuItem name="colours" caption="Colours..." command="EditColourScheme" icon="editcolour16.png" />
		<menuItem name="backgroundimage" caption="Background Image..." command="ToggleOrthoBackgroundPanel" icon="bgimage16.png" />
	</subMenu>

	<subMenu name="modify" caption="Mo&amp;dify">

		<subMenu name="components" caption="Components">
			<menuItem name="edges" caption="&amp;Edges" command="DragEdges" icon="modify_edges.png" />
			<menuItem name="vertices" caption="&amp;Vertices" command="DragVertices" icon="modify_vertices.png" />
			<menuItem name="faces" caption="&amp;Faces" command="DragFaces" icon="modify_faces.png" />
			<menuItem name="entities" caption="En&amp;tities" command="DragEntities" icon="select_entities.png" />
		</subMenu>

		<menuSeparator />

		<subMenu name="nudge" caption="Nudge">
			<menuItem name="nudgeLeft" caption="Nudge Left" command="SelectNudgeLeft" />
			<menuItem name="nudgeRight" caption="Nudge Right" command="SelectNudgeRight" />
			<menuItem name="nudgeUp" caption="Nudge Up" command="SelectNudgeUp" />
			<menuItem name="nudgeDown" caption="Nudge Down" command="SelectNudgeDown" />
		</subMenu>

		<subMenu name="rotate" caption="Rotate">
			<menuItem name="rotateX" caption="Rotate X" command="RotateSelectionX" icon="brush_rotatex.png" />
			<menuItem name="rotateY" caption="Rotate Y" command="RotateSelectionY" icon="brush_rotatey.png" />
			<menuItem name="rotateZ" caption="Rotate Z" command="RotateSelectionZ" icon="brush_rotatez.png" />
		</subMenu>

		<subMenu name="mirror" caption="Mirror">
			<menuItem name="flipX" caption="Mirror &amp;X" command="MirrorSelectionX" icon="brush_flipx.png" />
			<menuItem name="flipY" caption="Mirror &amp;Y" command="MirrorSelectionY" icon="brush_flipy.png" />
			<menuItem name="flipZ" caption="Mirror &amp;Z" command="MirrorSelectionZ" icon="brush_flipz.png" />
		</subMenu>

		<menuSeparator />

		<menuItem name="toggleFreeRotation" caption="Rotate Objects independently" command="ToggleFreeObjectRotation" />

		<menuSeparator />
		<menuItem name="transformDialog" caption="Rotate and scale..." command="ToggleTransformPanel" />

	</subMenu>

	<subMenu name="grid" caption="&amp;Grid">
		<menuItem name="snapToGrid" caption="Snap selected to grid" command="SnapToGrid" />
		<menuSeparator />
		<menuItem name="grid0.125" caption="Grid0.125" command="SetGrid0.125" />
		<menuItem name="grid0.25" caption="Grid0.25" command="SetGrid0.25" />
		<menuItem name="grid0.5" caption="Grid0.5" command="SetGrid0.5" />
		<menuItem name="grid1" caption="Grid1" command="SetGrid1" />
		<menuItem name="grid2" caption="Grid2" command="SetGrid2" />
		<menuItem name="grid4" caption="Grid4" command="SetGrid4" />
		<menuItem name="grid8" caption="Grid8" command="SetGrid8" />
		<menuItem name="grid16" caption="Grid16" command="SetGrid16" />
		<menuItem name="grid32" caption="Grid32" command="SetGrid32" />
		<menuItem name="grid64" caption="Grid64" command="SetGrid64" />
		<menuItem name="grid128" caption="Grid128" command="SetGrid128" />
		<menuItem name="grid256" caption="Grid256" command="SetGrid256" />
	</subMenu>

	<subMenu name="map" caption="M&amp;ap">
		<menuItem name="findBrush" caption="Find brush..." command="FindBrush" />
    <menuItem name="findReplaceTextures" caption="Find and replace textures..." icon="texwindow_findandreplace.png" command="ToggleFindAndReplaceMaterial" />
		<menuItem name="mapinfo" caption="Map info..." command="MapInfo" />
		<menuItem name="skinEditor" caption="Skin Editor..." command="SkinEditor" icon="icon_skin.png" />
	</subMenu>

	<subMenu name="entity" caption="E&amp;ntity">
		<menuItem name="ungroupEntity" caption="&amp;Revert group to worldspawn" command="RevertToWorldspawn" icon="cmenu_revert_worldspawn.png" />
		<menuItem name="connectEntity" caption="&amp;Connect selected entities" command="ConnectSelection" />
		<menuItem name="bindEntity" caption="&amp;Bind selected entities" command="BindSelection" />
		<menuItem name="animviewer" caption="MD5 Animation Viewer" command="AnimationPreview" />
		<menuItem name="entityclasstree" caption="Entity Class Tree..." command="EntityClassTree" icon="icon_classname.png" />
		<menuItem name="particleEditor" caption="Particle Editor..." command="ParticlesEditor" icon="particle16.png" />
	</subMenu>

	<subMenu name="brush" caption="B&amp;rush">
		<menuItem name="prism" caption="Prism..." command="BrushPrism" />
		<menuItem name="cone" caption="Cone..." command="BrushCone" />
		<menuItem name="sphere" caption="Sphere..." command="BrushSphere" />
		<menuSeparator />

		<subMenu name="csg" caption="CSG">
			<menuItem name="hollow" caption="Make &amp;Hollow" command="CSGHollow" icon="selection_makehollow.png" />
			<menuItem name="makeRoom" caption="Make &amp;Room" command="CSGRoom" icon="selection_makeroom.png" />
			<menuItem name="csgSubtract" caption="CSG &amp;Subtract" command="CSGSubtract" icon="selection_csgsubtract.png" />
			<menuItem name="csgMerge" caption="CSG &amp;Merge" command="CSGMerge" icon="selection_csgmerge.png" />
		</subMenu>

		<menuSeparator />

		<subMenu name="clipper" caption="Clipper">
			<menuItem name="clipSelection" caption="Clip Selection" command="ClipSelected" />
			<menuItem name="splitSelection" caption="Split Selection" command="SplitSelected" />
			<menuItem name="flipClipOrientation" caption="Flip Clip Orientation" command="FlipClip" />
		</subMenu>

		<menuSeparator />
		<menuItem name="texturelock" caption="Texture lock" command="TogTexLock" />
		<menuSeparator />
		<menuItem name="createdecals" caption="Create Decal Patches" command="CreateDecalsForFaces" icon="create_decals.png" />
		<menuItem name="makevisportal" caption="Make Visportal" command="MakeVisportal" icon="make_visportal.png"  />

		<menuSeparator />
		<menuItem name="brushmakedetail" caption="Make Detail" command="BrushMakeDetail" gamefeature="detail_brushes" />
		<menuItem name="brushmakestructural" caption="Make Structural" command="BrushMakeStructural" gamefeature="detail_brushes" />
	</subMenu>

	<subMenu name="patch" caption="&amp;Patch">
		<menuItem name="simplePatch" caption="Create Simple Patch..." command="CreateSimplePatchDialog" />
		<menuSeparator />
		<menuItem name="endcap" caption="Create End cap" command="PatchEndCap" />
		<menuItem name="bevel" caption="Create Bevel" command="PatchBevel" />
		<menuSeparator />
		<menuItem name="cone" caption="Create Cone" command="PatchCone" />
		<menuItem name="cylinder" caption="Create Cylinder" command="PatchCylinder" />
		<menuItem name="patch_sphere" caption="Create Sphere" command="PatchSphere" />

		<subMenu name="moreCylinders" caption="More cylinders">
			<menuItem name="denseCylinder" caption="Create Dense Cylinder" command="PatchDenseCylinder" />
			<menuItem name="veryDenseCylinder" caption="Create Very Dense Cylinder" command="PatchVeryDenseCylinder" />
			<menuItem name="squareCylinder" caption="Create Square Cylinder" command="PatchSquareCylinder" />
		</subMenu>

		<menuSeparator />

		<subMenu name="insertSubdivisions" caption="Insert">
			<menuItem name="insertColsBegin" caption="Insert 2 columns at the beginning" command="PatchInsertColumnBeginning" />
			<menuItem name="insertColsEnd" caption="Insert 2 columns at the end" command="PatchInsertColumnEnd" />
			<menuSeparator />
			<menuItem name="insertRowsBegin" caption="Insert 2 rows at the beginning" command="PatchInsertRowBeginning" />
			<menuItem name="insertRowsEnd" caption="Insert 2 rows at the end" command="PatchInsertRowEnd" />
		</subMenu>

		<subMenu name="appendSubdivisions" caption="Extend">
			<menuItem name="appendFirstcolumns" caption="Extend by 2 columns at the beginning" command="PatchAppendColumnBeginning" />
			<menuItem name="appendLastcolumns" caption="Extend by 2 columns at the end" command="PatchAppendColumnEnd" />
			<menuSeparator />
			<menuItem name="appendFirstrows" caption="Extend by 2 rows at the beginning" command="PatchAppendRowBeginning" />
			<menuItem name="appendLastrows" caption="Extend by 2 rows at the end" command="PatchAppendRowEnd" />
		</subMenu>

		<subMenu name="deleteSubdivisions" caption="Delete">
			<menuItem name="deleteFirstcolumns" caption="Delete 2 columns from the beginning" command="PatchDeleteColumnBeginning" />
			<menuItem name="deleteLastcolumns" caption="Delete 2 columns from the end" command="PatchDeleteColumnEnd" />
			<menuSeparator />
			<menuItem name="deleteFirstrows" caption="Delete 2 rows from the beginning" command="PatchDeleteRowBeginning" />
			<menuItem name="deleteLastrows" caption="Delete 2 rows from the end" command="PatchDeleteRowEnd" />
		</subMenu>

		<menuSeparator />

		<subMenu name="matrix" caption="Matrix">
			<menuItem name="invertMatrix" caption="Invert" command="InvertCurve" />

			<subMenu name="redisperse" caption="Re-disperse">
				<menuItem name="redisperseRows" caption="Rows" command="RedisperseRows" />
				<menuItem name="redisperseColumns" caption="Columns" command="RedisperseCols" />
			</subMenu>

			<menuItem name="transpose" caption="Transpose" command="MatrixTranspose" />
		</subMenu>

		<menuSeparator />
		<menuItem name="thickenPatches" caption="Thicken..." command="ThickenPatchDialog" />
		<menuItem name="capselection" caption="Cap..." command="PatchCapDialog" icon="curve_cap.png" />
		<menuSeparator />
		<menuItem name="stitchTextures" caption="Stitch Patch Textures" command="StitchPatchTexture" />
        <menuItem name="bulgePatch" caption="Bulge Patch..." command="BulgePatchDialog" />
        <menuItem name="weldPatches" caption="Weld/Merge Patches" command="WeldSelectedPatches" />
	</subMenu>

	<subMenu name="curve" caption="&amp;Curve">
		<menuItem name="createCurveNURBS" caption="Create NURBS Curve" command="CreateCurveNURBS" icon="curve_create.png" />
		<menuItem name="createCurveCatmullRom" caption="Create CatmullRom Curve" command="CreateCurveCatmullRom" icon="curve_create.png" />
		<menuSeparator />
		<menuItem name="curveConvertType" caption="Convert NURBS &lt;-&gt; CatmullRom" command="CurveConvertType" icon="curve_convert.png" />
		<menuSeparator />
		<menuItem name="curveAppendPoint" caption="Append Curve Control Point" command="CurveAppendControlPoint" icon="curve_append_point.png" />
		<menuItem name="curveInsertPoint" caption="Insert Curve Control Points" command="CurveInsertControlPoint" icon="curve_insert_points.png" />
		<menuItem name="curveRemovePoint" caption="Remove Curve Control Points" command="CurveRemoveControlPoint" icon="curve_remove_points.png" />
	</subMenu>

	<subMenu name="help" caption="&amp;Help">
		<menuItem name="about" caption="&amp;About" command="About" />
        <menuItem name="openForumLink" caption="&amp;Community Forum" command="OpenForumUrl" />
        <menuItem name="openScriptRef" caption="&amp;Script Reference Wiki Article" command="OpenScriptReference" />
		<menuItem name="userGuide" caption="&amp;User Guide (Online)" command="ShowUserGuide" />
		<menuItem name="userGuideLocal" caption="&amp;User Guide (Local)" command="ShowOfflineUserGuide" />
	</subMenu>
</menu>
