<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DarkRadiant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mathlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>scene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>wxutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>xmlregistry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xmlutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A011FC21E50275700A62BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0120721E502F7800A62BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0124141E50484100A62BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADBCC941E4E4C3400CA94F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEDE3991E4EEA1F005A8641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF746631E4FACC9003465B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF746AA1E4FADF3003465B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
