<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DarkRadiant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>archivezip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>commandsystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>eclassmgr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>eclasstree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>entity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>entitylist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>eventmanager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>filetypes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>filters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>mathlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>scene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>wxutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>xmlregistry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>xmlutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A011FC21E50275700A62BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0120721E502F7800A62BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0124141E50484100A62BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ADBCC941E4E4C3400CA94F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDC681E50667D0062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDC8D1E5069840062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDCA91E509D8B0062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDCC41E509E3E0062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDCE31E50A8980062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDDA31E50B0910062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDDC71E50BE540062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDE0C1E50BFB80062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEBDE1F1E50C0190062D9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AEDE3991E4EEA1F005A8641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF746631E4FACC9003465B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF746AA1E4FADF3003465B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
