Package: darkradiant
Version: 1.0SVN
Section: Games
Priority: optional
Architecture: all
Maintainer: OrbWeaver [orbweaver3d@gmail.com]
Essential: no
Depends: 
Provides: darkradiant
Description: Level editor for Doom 3 and The Dark Mod.

